<!DOCTYPE html>
<html lang="ja">
  <head>
    <% const metaConfig = { title: 'タイトルが入ります', desc: 'ディスクリプションが入ります' } %>
    <!-- meta -->
    <%- include('./components/_meta.ejs', {meta: metaConfig})%>
  </head>
  <body>
    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/common.js"></script>
  </body>
</html>
