
@include mq(only-lg){
  @for $i from 1 through 12 {
    .col#{$i}-lg{ width: #{$i / 0.12}#{'%'};}
  }
}
@include mq(only-md){
  @for $i from 1 through 12 {
    .col#{$i}-md{ width: #{$i / 0.12}#{'%'};}
  }
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  & >* {
    padding: 0 10px;
  }

  &.-center-lg{
    justify-content: center;
  }
  &--right{
    justify-content: flex-end;
  }
  &.-alCenter-lg{
    align-items: center;
  }

  @include mq(only-md){

    &--spColumn{
      flex-direction: column;
    }
    &--spColumnReverse{
      flex-direction: column-reverse;
    }
  }
}

@include mq(only-md){
  .row-sp{
    display: flex;
    flex-wrap: wrap;
  }
  &--center{
    justify-content: center;
  }
  &--right{
    justify-content: flex-end;
  }
  &--alCenter{
    align-items: center;
  }
}